<div id="not_authorized_message">
<h2>This is a custom <b>"Not Authorized"</b> page.</h2>
<p>Customized it the way you want and include it in <b>/overrides</b> folder along with modifying "displayNotAuthorized" method in <b>/overrides/login.js</b></p>
<p>You can also include any links that serve needs of your application stack such as contact email of admin, so that users can contact support by clicking <a href="{{helpLink}}">here</a>.</p>
<p>There is also a javascript included on the bottom of this template that clears all session and local storage values for clean login state.</p>
</div>
<script>sessionStorage.clear();localStorage.clear();</script>
